<?xml version="1.0" encoding="utf-8" ?>
<!--
@projectauthor: Tyler Pease
@github: https://github.com/SirTarragon/
-->
<configuration>
	<connectionStrings>
		<clear/>
		<add name="Default"
			connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\..\..\..\..\..\.testfiles\Billing.mdb;"
			 />
		<!-- this is the main connection, any change to data source should be done here -->
		<add name="Debug"
			 connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\..\..\..\..\..\.testfiles\Billing.mdb;"
			 />
		<!-- this connection is only valid if it's being run in the Debug menu -->
	</connectionStrings>
</configuration>
